--
-- PostgreSQL database dump
--

\restrict dT3bUsHEiSPaWSmOOckn4h6Pm5yql92f4Eda35M37fe3UDMQPQuDbKP9J3damAa

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: municipal_admins; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.municipal_admins (
    id integer NOT NULL,
    username character varying(100) NOT NULL,
    email character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.municipal_admins OWNER TO postgres;

--
-- Name: municipal_admins_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.municipal_admins_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.municipal_admins_id_seq OWNER TO postgres;

--
-- Name: municipal_admins_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.municipal_admins_id_seq OWNED BY public.municipal_admins.id;


--
-- Name: reports; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reports (
    id integer NOT NULL,
    resident_id integer NOT NULL,
    title character varying(255) NOT NULL,
    description text NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    status character varying(20) DEFAULT 'pending'::character varying NOT NULL
);


ALTER TABLE public.reports OWNER TO postgres;

--
-- Name: reports_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.reports_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.reports_id_seq OWNER TO postgres;

--
-- Name: reports_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.reports_id_seq OWNED BY public.reports.id;


--
-- Name: residents; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.residents (
    id integer NOT NULL,
    first_name character varying(100) NOT NULL,
    last_name character varying(100) NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(100) CONSTRAINT residents_password_not_null NOT NULL,
    phone_number character varying(20) NOT NULL,
    kifle_ketema character varying(100) NOT NULL,
    kebele character varying(100) NOT NULL,
    sefer character varying(100) NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.residents OWNER TO postgres;

--
-- Name: residents_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.residents_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.residents_id_seq OWNER TO postgres;

--
-- Name: residents_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.residents_id_seq OWNED BY public.residents.id;


--
-- Name: municipal_admins id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.municipal_admins ALTER COLUMN id SET DEFAULT nextval('public.municipal_admins_id_seq'::regclass);


--
-- Name: reports id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reports ALTER COLUMN id SET DEFAULT nextval('public.reports_id_seq'::regclass);


--
-- Name: residents id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.residents ALTER COLUMN id SET DEFAULT nextval('public.residents_id_seq'::regclass);


--
-- Data for Name: municipal_admins; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.municipal_admins (id, username, email, password, created_at) FROM stdin;
1	municipaladmin	admin@example.com	$2b$10$iTiQBEc41Ni1dKeTMq1cs.uc/HjVL/0cpocYbZODgR.7n2zH7m4E2	2026-07-29 11:04:24.984729
\.


--
-- Data for Name: reports; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.reports (id, resident_id, title, description, created_at, status) FROM stdin;
2	5	testing reports 	 this is the test from user  5	2026-07-29 09:49:05.324041	pending
1	5	first report	this is for test reporting from user 5	2026-07-29 09:42:34.714469	in_progress
3	5	Overflowing garbage collection point	The garbage collection area near the main road has been overflowing for several days and needs to be cleaned.	2026-07-29 13:06:42.854152	in_progress
\.


--
-- Data for Name: residents; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.residents (id, first_name, last_name, email, password_hash, phone_number, kifle_ketema, kebele, sefer, created_at) FROM stdin;
7	Abe	Kebede	test1@test.com	$2b$10$vJRA9nrnPDNovNmERcklVuTIwLWPeMld/5HrY/YwEW5k4HyF1SjgG	0912345678	Bole	01	01	2026-07-28 10:43:15.908327
5	newlyUpdated	secondName	abebe@test.com	$2b$10$1yVmaINKkLT3WnRZDegXJ.qnc57XoU3ZslkH4MBOD5414ZowaCcbi	0912345689	Bole	02	03	2026-07-28 10:40:36.387856
\.


--
-- Name: municipal_admins_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.municipal_admins_id_seq', 1, true);


--
-- Name: reports_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.reports_id_seq', 3, true);


--
-- Name: residents_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.residents_id_seq', 7, true);


--
-- Name: municipal_admins municipal_admins_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.municipal_admins
    ADD CONSTRAINT municipal_admins_email_key UNIQUE (email);


--
-- Name: municipal_admins municipal_admins_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.municipal_admins
    ADD CONSTRAINT municipal_admins_pkey PRIMARY KEY (id);


--
-- Name: municipal_admins municipal_admins_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.municipal_admins
    ADD CONSTRAINT municipal_admins_username_key UNIQUE (username);


--
-- Name: reports reports_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reports
    ADD CONSTRAINT reports_pkey PRIMARY KEY (id);


--
-- Name: residents residents_email_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.residents
    ADD CONSTRAINT residents_email_unique UNIQUE (email);


--
-- Name: residents residents_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.residents
    ADD CONSTRAINT residents_pkey PRIMARY KEY (id);


--
-- Name: reports fk_reports_resident; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reports
    ADD CONSTRAINT fk_reports_resident FOREIGN KEY (resident_id) REFERENCES public.residents(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict dT3bUsHEiSPaWSmOOckn4h6Pm5yql92f4Eda35M37fe3UDMQPQuDbKP9J3damAa

